@import "tailwindcss";

@layer components {
    button, a {
        cursor: pointer;
    }
  html {
    overflow-x: hidden;
  }
  @media (max-width: 767px) {
    html {
      font-size: 14px;
    }
  }
  @media (min-width: 768px) and (max-width: 1366px) {
    html {
      font-size: calc(16px * (100dvw / 1366px));
    }
  }
}
